@import "styles/env";

:local(.module) {
  &, .dropdown-menu {
    background: rgba(0, 0, 0, 0.95);
  }

  .dropdown-item {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);

    &:hover {
      color: rgba(255, 255, 255, 0.75);
    }
  }

  @include media-breakpoint-up(lg) {
    .dropdown > .dropdown-menu {
      margin-top: -0.75rem;
      padding-top: 0.75rem;
    }

    .dropdown:hover > .dropdown-menu {
      display: block;
    }
  }

  .nav-item {
    cursor: pointer;
  }

  .nav-item.dropdown:hover {
    color: rgba(255, 255, 255, 0.75);
  }
}
