<div id="menu" :class="['fixed-top', 'navbar-dark', 'component', $style.module]">
    <nav class="navbar navbar-expand-lg">
        <span class="navbar-brand">KDM Reference</span>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#menu-dropdown"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="menu-dropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <router-link class="nav-link" to="/">Home</router-link>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li v-for="menuItem in menuItems" :class="['nav-item'].concat(menuItem.items ? ['dropdown'] : [])">
                    <router-link v-if="!menuItem.items" class="nav-link" :to="menuItem.href">{{ menuItem.name }}</router-link>
                    <span v-if="menuItem.items"
                       class="nav-link dropdown-toggle"
                       role="button"
                       data-toggle="dropdown"
                    >
                        {{ menuItem.name }}
                    </span>
                    <div v-if="menuItem.items"
                        class="dropdown-menu">
                        <router-link v-for="childItem in menuItem.items" v-bind:key="childItem.name"
                           class="dropdown-item"
                           :to="childItem.href"
                        >{{ childItem.name }}</router-link>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
