<div :class="['component', $style.module]">
    <ul class="list-inline card-list">
        <li class="list-inline-item card-md disorder" v-for="disorder in disorders">
            <div class="expansion"
                 :style="{
                    'background-color': disorder.expansion.color,
                 }"
                 v-if="disorder.expansion && disorder.expansion.crest"
            >
                <img :src="disorder.expansion.crest"
                    :alt="disorder.expansion.name"
                    :title="disorder.expansion.name" />
            </div>
            <p class="name">{{ disorder.name }}</p>
            <div class="location">
                <img src="../../../images/disorder.png" alt="Head"/>
            </div>
            <p class="caption" v-html="disorder.caption" v-if="disorder.caption"></p>
            <p class="description" v-html="disorder.description"></p>
            <div class="record-archive">
                <p><i>📝</i> <span class="keyword">Record</span> and archive.</p>
            </div>
        </li>
    </ul>
</div>
