<div :class="['component', $style.module]">
    <div class="container-fluid">
        <div class="custom-switch">
            <label>
                <input class="custom-control-input" type="checkbox" v-model="dice" />
                <span class="custom-control-label">Toggle Roll Indicators</span>
            </label>
        </div>
        <div class="custom-switch">
            <label>
                <input class="custom-control-input" type="checkbox" v-model="severity"/>
                <span class="custom-control-label">Sort by Severity</span>
            </label>
        </div>
    </div>
    <ul class="list-inline card-list">
        <li class="list-inline-item card-md injury" v-for="injury in injuries">
            <p class="roll" v-if="dice && injury.roll"><span v-html="injury.roll"></span></p>
            <p class="name" v-html="injury.name"></p>
            <div class="location">
                <img src="../../../images/injuries/head.webp" alt="Head" title="Head" v-if="injury.location === 'head'"/>
                <img src="../../../images/injuries/body.webp" alt="Body" title="Body" v-if="injury.location === 'body'"/>
                <img src="../../../images/injuries/arms.webp" alt="Arms" title="Arms" v-if="injury.location === 'arms'"/>
                <img src="../../../images/injuries/waist.webp" alt="Waist" title="Waist" v-if="injury.location === 'waist'"/>
                <img src="../../../images/injuries/legs.webp" alt="Legs" title="Legs" v-if="injury.location === 'legs'"/>
            </div>
            <p class="caption" v-html="injury.caption" v-if="injury.caption"></p>
            <p class="description" v-html="injury.description"></p>
            <div class="record-archive">
                <p><i>📝</i> <span class="keyword">Record</span> and archive.</p>
            </div>
        </li>
    </ul>
</div>
