@import "~bootstrap/scss/variables";

$font-color: #f8f8f8;
$font-size-base: 1.2rem;

$card-sm-radius: 0.16in;
$card-sm-width: 2in;
$card-sm-height: 2in;
$card-sm-font-size: 1rem;
$card-sm-font-size-bold: 0.9rem;

$card-md-radius: 0.16in;
$card-md-width: 2.25in;
$card-md-height: 3.5in;
$card-md-font-size: 1.1rem;
$card-md-font-size-bold: 1rem;
