@import "env";

@font-face {
  font-family: "EmojiSymbols";
  /*!
   * EmojiSymbols Font (c)blockworks - Kenichi Kaneko
   * http://emojisymbols.com/
   */
  src: url("../fonts/EmojiSymbols-Regular.woff");
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #101010;
  color: $font-color;
  font-family: elido, sans-serif;
  font-size: $font-size-base;
}

.keyword {
  font-weight: bold;
}
